@page
<div class="text-center">
    <button id="sendData" 
        class="btn btn-outline-primary mt-5">
        Отправить данные
    </button>
</div>

<script>
    let mouseMovements = [];

    function toLocalISOString(date) {
        const timezoneOffset = date.getTimezoneOffset() * 60000;
        const localISOTime = new Date(date.getTime() - timezoneOffset).toISOString().slice(0, -1);
        return localISOTime;
    }

    document.addEventListener('mousemove', function (event) {
        let movement = {
            X: event.clientX,
            Y: event.clientY,
            T: toLocalISOString(new Date())
        };
        mouseMovements.push(movement);
    });

    document.getElementById('sendData').addEventListener('click', function () {
        fetch('/Mouse/SendMousePositions', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(mouseMovements)
        }).then(response => {
            if (response.ok) {
                alert('Данные успешно отправлены!');
                mouseMovements = [];
            } else {
                alert('Произошла ошибка при отправке данных.');
            }
        });
    });
</script>